<% content_for :section do %>
  <% if @customer.errors.any? %>
    <ul class="errors">
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<br/>

<%= form_for @customer do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :link %>
  <%= f.text_field :link %>
  <br/>
  <label>Travel from</label>
  <%= f.select :train_id, options_for_select(Train.all.collect {|u| [ u.travel_from, u.id ] }) %>

  <br/><br/>
  <%= f.submit class: "button" %>

<%- end %>
<% end %>
<% content_for :footer do %>
  <%= link_to "Go back", customers_path %>
<% end %>

