<!DOCTYPE html>
<html>
<head>
  <title>Iron</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= yield :header %>
  <%= form_tag trains_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>    
</header>
<section>
  <%= link_to "Trains", trains_path %>
  | <%= link_to 'Customers', customers_path %> 
<br/><br/>
  <%= yield :section %>
</section>
<footer>
  <% if content_for?(:footer) %>
    <%= yield :footer %>
  <% else %>
    <p>Train booking</p>
  <% end %>
</footer>

<p>
The database will be erased after 1 hour 
<br/>
Check out the code:<br/>
<a href="https://github.com/cicekhayri/rails_customer_app">https://github.com/cicekhayri/rails_customer_app</a>
</p>

</body>
</html>
